*{
    margin: 0px;
    padding: 0px;
    font-family: "kanit";
    font-weight: 550;

}

.main-background{
    height: 702px;
    width: 1519px;
    background-image:linear-gradient(180deg, rgba(0,0,0,0.6629026610644257) 0%, rgba(9,9,121,0) 57%),url(Netflix-Background.jpg);
    background-size: cover;
}

.navbar{
    height: 100px;
    
}

.logo{
    height: 100px;
    width: 200px;
    background-image: url(ogo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.panel2{
    text-align: right;
    width: 500px;
    display: flex;
    justify-content: right;
}

.lang{
    height: 34px;
    width: 100px;
    border: 1px solid black;
    margin-right: 15px;
    background-color: rgba(16, 15, 15, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.lang p{
    font-size: 14px;
}
.lang a{
    text-decoration: none;
    color: white
}

.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 70px;
    background-color: #E50914;
    border-radius: 4px;
}

.signup a{
    font-size: 14px;
    text-decoration: none;
    color: white;
}



/**opening body**/
.opening-content{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 602px;
    text-align: center;
}

.opening-content .text p{
    color: white;
    line-height: 2;
}

.opening-content .text input[type=text]{
    padding: 12px;
    width: 300px;
    margin-right: 5px;
    border-radius: 3px;
    border: none;
    background-color: rgba(16, 15, 15, 0.85);
    color: white;
}

.opening-content .text button{
    padding: 12px 32px;
    background-color: #E50914;
    border: none;
    border-radius: 3px;
    color: white;
}

.scrol-panel1{
    height:602px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:10px solid #232323;
}

.scrol-panel1 .text{
    color: white;
    line-height: 2.1;
    word-wrap: break-word;
    font-size: 18px;
}

.scrol-panel1 img{
    height: 500px;
    width: 600px;
}


/**frequently asked questions**/
.faq {
    border-top:10px solid #232323;
    color: white;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.endgame{
    display: flex;
    justify-content: center;
}

.question1{
    color: white;
    background-color: #232323;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.question1 a{
    margin-left: 60px;
    text-decoration: none;
    color: white;
}

.question1 i{
    margin-right: 50px;
}

.links{
    background-color: #000000;
}

.question1:hover{
    background-color: #414141;
    transition-duration: 0.6s;
}

.ready-to-watch{
    background-color: #000000;
    padding: 30px;
    border-bottom:10px solid #232323;
}

.ready-to-watch .b1{
    height: 35px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: white;
}

.ready-to-watch .b2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ready-to-watch div input[type=text]{
    padding: 12px;
    width: 300px;
    margin-right: 5px;
    border-radius: 3px;
    border: none;
    background-color: rgba(16, 15, 15, 0.85);
    color: white;
    display: inline-block;
}

.get-started{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    border: none;
    padding: 9px;
    border-radius: 3px;
    background-color: #E50914;
    width: 90px;
    margin-left: 6px;
}

.get-started a{
    text-decoration: none;
    color:white;
    font-size: 12px;
}

footer{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

ul li{
    color: #595959;
    list-style-type: none;   
    line-height: 40px;
}

ul a{
    color: #595959;
    font-size: 12px;;
}

footer{
    background-color: #000000;
}

.signup:hover{
    background-color: #c20a13;
    transition-duration: 0.3s;
}

.opening-content .text button:hover{
    background-color: #c20a13;
    transition-duration: 0.3s;
}

.get-started:hover{
    background-color: #c20a13;
    transition-duration: 0.3s;
}